<div class="logoplotbox_wt" id="wtDIV_{{ ID }}" style="display:none">
  <img alt="wt residue logoplot" src="data:image/png;base64, {{ WT_BASE64_INSERT }}" />
</div>
<div class="logoplotbox_fit" id="fitDIV_{{ ID }}" style="display:none">
  <img alt="fit residue logoplot" src="data:image/png;base64, {{ FIT_BASE64_INSERT }}" />
</div>
<div class="logoplotbox_unfit" id="unfitDIV_{{ ID }}" style="display:none">
  <img alt="unfit residue logoplot" src="data:image/png;base64, {{ UNFIT_BASE64_INSERT}}" />
</div>